/* Fuente */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html{
    scroll-behavior: smooth;
}

#inicio{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../img/fondo-inicio.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header{
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: #ff5080;
}

#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 12px;
    font-weight: 400;
    transition: 0.5s;
}

#inicio .contenido header .contenido-header nav ul a:hover{
    color: #ff5080
}

#inicio .contenido header .contenido-header .redes a{
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    margin-left: 10px;
    transition: 0.5s;
}

#inicio .contenido header .contenido-header .redes a:hover{
    color: #ff5080;
}

#inicio .contenido header .contenido-header .seleccionado{
    color: #ff5080;
}

#inicio .contenido .presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .contenido .presentacion .bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2{
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span{
    font-size: 30px;
    color: #ff5080;
}

#inicio .contenido .presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 25px 25px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.5s;
}

#inicio .contenido .presentacion a:hover{
    background-color: #ff5080;
}

#icono-nav{
    color: #ffffff;
    display: none;
}

/* Sección responsive */

@media screen and (max-width: 800px){
    .redes{
        display: none;
    }

    nav{
        display: none;
    }

    nav.responsive{
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul{
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li{
        margin: 5px 0;
    }

    #icono-nav{
        display: block;
    }

    #inicio .contenido .presentacion h2{
        font-size: 40px;
    }

    #sobremi{
        padding: 50px 0;
        display: block;
    }

    #sobremi .contenedor-foto{
        max-width: 200px;
        margin: auto;
    }

    #sobremi .contenedor-foto img{
        padding: 8px;
    }

    #sobremi .sobremi .titulo-seccion{
        text-align: center;
    }

    #sobremi .sobremi h2{
        font-size: 25px;
        text-align: center;
    }

    #servicios{
        padding: 50px 15px;
    }

    #servicios .fila{
        display: block;
    }

    #servicios .fila .servicio{
        margin: 10px auto;
    }

    .contenedor-skills{
        padding: 50px 20px;
    }

    #portafolio{
        padding: 50px 0;
    }

    #portafolio .fila{
        display: block;
    }

    #portafolio .fila .proyecto{
        margin: 10px auto;
    }

    #contacto{
        padding: 50px 15px;
    }

    #contacto .contenedor-form .mitad{
        margin-bottom: 15px;
        display: block;
    }

    #contacto .contenedor-form .mitad input{
        width: 100%;
        margin-bottom: 15px;
    }
}
